/* css                   */
* {
    font-size: 18px;
}

h1 {
    margin: 0;
    padding: 10;
    font-size: 40px;
}

#space {
    top: 220px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color:  rgb(2, 70, 10);
    position: absolute;
    overflow: hidden;
}

.card {
    background-color: white;
    color: black;
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
}
